header{
    height: 100px;
    background-color: rgb(44, 226, 8);
}

main{
    height: 200px;
    background-color: #010d0e;
}

footer{
    height: 100px;
    background-color: #747772;
}

p{
    color: rgb(244, 244, 247);
    font-size: 24px;
}